<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:theme="@style/Theme.HuimeiVoice"
        tools:targetApi="s">
        <activity
            android:name=".VoiceAvatarActivity"
            android:exported="false" />
        <activity
            android:name=".LottieDemoActivity"
            android:exported="false" />
        <activity
            android:name=".VoiceRecognitionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
